<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>Scopes</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>JOBTREAD_API_BASE_URL</key>
	<string>$(JOBTREAD_API_BASE_URL)</string>
	<key>JOBTREAD_API_KEY</key>
	<string>$(JOBTREAD_API_KEY)</string>
	<key>JOBTREAD_ORG_ID</key>
	<string>$(JOBTREAD_ORG_ID)</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to capture job site photos and document attachments.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app accesses your photo library so you can attach existing job site photos and documents.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app saves captured photos to your photo library.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
